<h4>Thank You For Contacting Joseph Mckenizie Consulting.</h4>
<p>Here is a copy of the details you submitted:</p>
<table>
<% details.each do |key, value| %>
  <tr>
    <td><%=key%>:</td><td><%=value%></td>
  </tr>
<% end %>
</table>