<div class="container partially-transparent tclogo" >
        
  <section id="about" class="centered">
    <h2> Michael Moore's better than Joseph McKenzie's Consulting</h2>
    <p class="about-whoami">
    </p>
    <p class='message'><%=message%></p>
  </section>

  <div class="row">
<!--     <div class="col-xs-12"> -->
  Offering services such as:
   <ul>
    <li>
     Holy hell this stuff is working.
     </li>
     <ul>
      <li>Better Ruby</li>
      <li>Better HTML,CSS</li>
      <li>Better JavaScript,Jquery,Node.Js</li>
      <li>Better Github Version Control</li>
      <li>Better Amazon Web Services such as 
       <h1>ASKL:FGJASLK:GJL:KSJGL:ASJGLKASJLGA</h1>
      </li>
      <li>Getting an app or site deployed
       <ul>
        <li>
         Better Heroku
        </li>
        <li>
         Better Amazon ElasticBeanstalk      
        </li>
        <li>
         Better Ios deployment to the Apple store
        </li>
        <li>
         Better Android deployment to the Google store
        </li>
        <li>
         Better Domain buying and management using Google domains
        </li>
        
       </ul>
      </li>
        <li>
         Better SQL Database Skills.
          <ul>
           <li>
             Better Basic SQL Syntax
            </li>
            <li>
             Even more advanced SQL statements
            </li>
            <li>
             Faster Connecting to a Remote SQL database
            </li>
            <li>
             Better Using a database manager such as DBeaver
            </li>
          </ul>
        </li>
      <li>
      Login and additional addons and intergtartions
      And I can spell integrations!!
       <ul>
        <li>
        Custom Logins
        </li>
       <li>
        Oauth2 Logins
        <ul>
        <li>
         
         
         Google
         </li>
         <li>
         Facebook
         </li>
         <li>
         Twitter
         </li>
         <li>
         ** All the popular social media logins
         </li>
        </ul>
        
        </li>
        <li>
        Google analytics
        </li>
        <li>
       Custom domain email setup 
        </li>
        <li>
        Social Media Intergrations
         <ul>
         <li>
          Facebook
          </li>
          <li>
          Twiiter
          </li>
          <li>Linkedin</li>
          <li>
          and many more
          </li>
         </ul>
        </li>
        
       </ul>
      </li>
     </ul>
   </ul>
    <!-- </div> -->
  </div>
