<div class="container partially-transparent tclogo" >
        
  <section id="about" class="centered">
    <h2> Joseph McKenzie Consulting</h2>
    <p class="about-whoami">
    </p>
    <p class='message'><%=message%></p>
  </section>

  <div class="row">
<!--     <div class="col-xs-12"> -->
  Offering services such as:
   <ul>
    <li>
     Training or Mentoring in skill sets such as :
     </li>
     <ul>
      <li>Ruby</li>
      <li>HTML,CSS</li>
      <li>JavaScript,Jquery,Node.Js</li>
      <li>Github Version Control</li>
      <li>Amazon Web Services such as 
       <ul>
        <li>Amazon Lambda</li>
        <li>Amazon RDS Databases</li>
        <li>Amazon DyanmoDb (NonSql) Databases</li>
        <li>Amazon Alexa</li>
        <li>Amazon API</li>
        <li>Amazon Elastic BeanStalk</li>
        <li>Amazon CodeDeploy</li>
        <li>Amazon S3 Buckets</li>
       </ul>
      </li>
      <li>Getting an app or site deployed
       <ul>
        <li>
         Heroku
        </li>
        <li>
         Amazon ElasticBeanstalk      
        </li>
        <li>
         Ios deployment to the Apple store
        </li>
        <li>
         Android deployment to the Google store
        </li>
        <li>
         Domain buying and management using Google domains
        </li>
        
       </ul>
      </li>
        <li>
         SQL Database Skills.
          <ul>
           <li>
             Basic SQL Syntax
            </li>
            <li>
             advanced SQL statements
            </li>
            <li>
             Connecting to a Remote SQL database
            </li>
            <li>
             Using a database manager such as DBeaver
            </li>
          </ul>
        </li>
      <li>
      Login and additional addons and intergtartions
       <ul>
        <li>
        Custom Logins
        </li>
       <li>
        Oauth2 Logins
        <ul>
        <li>
         
         
         Google
         </li>
         <li>
         Facebook
         </li>
         <li>
         Twitter
         </li>
         <li>
         ** All the popular social media logins
         </li>
        </ul>
        
        </li>
        <li>
        Google analytics
        </li>
        <li>
       Custom domain email setup 
        </li>
        <li>
        Social Media Intergrations
         <ul>
         <li>
          Facebook
          </li>
          <li>
          Twiiter
          </li>
          <li>Linkedin</li>
          <li>
          and many more
          </li>
         </ul>
        </li>
        
       </ul>
      </li>
     </ul>
   </ul>
    <!-- </div> -->
  </div>
