<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>  
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script> 
    <link rel = "stylesheet" type = "text/css" href = "./css/style.css" />
</head>
<body>
<div class="main-nav">
    <div class="nav">
        <ul id="navlist">
            <li class="dropdown" id="dropp">
                <class="dropbtn">Interests &amp; Help</a>
                <div class="dropdown-content">
                    <a href="http://www.minedminds.org">Mined Minds</a>
                    <a href="http://www.stackoverflow.com">Stack Overflow</a>
                    <a href="http://www.teamtreehouse.com">Treehouse Coding</a>
            </div>
            <li><a id="contact" href="contact">Contact</a></li>
            <li><a id="home" href="index">Home</a></li>
        </ul>
    </div>
</div>    

<%#<div class="main-nav">
    <ul class="nav">
    <li class="name">Michael Moore<li>
    <li><a href="/index">Home</a></li>
    <li><a href="/contact">Contact</a></li>
    <li class="dropdown" id="dropp">
        <class="dropbtn">Interests &amp; Help</a>
        <div class="dropdown-content">
        <a href="http://www.minedminds.org">Mined Minds</a>
        <a href="http://www.stackoverflow.com">Stack Overflow</a>
        <a href="http://www.teamtreehouse.com">Treehouse Coding</a>
        </div>
    </li>
    </ul>
</div>%>

 <%#<li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Interests &amp; Help</a>
        <div class="dropdown-content">
        <a href="http://www.minedminds.org">Mined Minds</a>
        <a href="http://www.stackoverflow.com">Stack Overflow</a>
        <a href="http://www.teamtreehouse.com">Treehouse Coding</a>
        </div>
    </li>%>
<script>

</script>
 <%=yield%>
</body>
</html>
