<div class="container partially-transparent tclogo">
	<div class="wrapper" style="padding-top:5rem;padding-bottom:35.5rem">
		<form class="login wrapper" action="login" method="post">
			<label for="user">User Name</label>
		    <input type="text" name="user">
		    <label for="password">Password</label>
		    <input type="password" name="password">
		    <input type="submit" value="submit">
		    <p id="flash" style="color:red"><%=message%></p>
		</form>
	</div>
</div>