

      <div class="container content partially-transparent tclogo">
        
<section id="about" class="centered">
  <h1>Team</h1>
  <p class="about-whoami">
    The man behind the scenes 
  </p>
</section>

<div class="row">
  <div class="col-xs-12">
      
<section id="research" class="centered">
  <p class="section-title"><span>The the only Joseph McKenzie </span></p>
 <img src="/images/joegravatar.jpg" width="25%">
 <p>
 Having loved computers from a very young age attending Greene County Votech for Computer information technology, and going to DBCC to continue my education with the hardware aspect of things not quite enjoying hardware I decided to pursue other options.
 </p>
 <p>
 I first discovered the joys and sorrow of programming, after reading about and attending a fullstack boot camp offered at no cost by Amanda Laucher and Dr Jonathan Graham of Mined Minds who routinely speak at conferences around the world.Learning things such as Ruby to start along side of css and javascript and TDD methodologies we were able to make websites and programs that provided needed much community services. Upon creating a program for the county we graduated and started to work with real world paying clients. I was very excited to have become one of the very first two employed on a fulltime salary , during this short time I have   expanded my skill set in such things as  Nodejs using mocha and chai testing,Jquery,SQL,and nonSql datatbases,version control systems such as Git alongside confluence and jira to using any popular AWS services in the cloud such as lambdas, and non sql and sql databases, to using Elasticbeanstalk , or using services sych as Heroku in order to host an app and keep cost down even farther. Keeping things simple and secure for users by using widely used Oauth2 secure login methods such as facebook, google and custom user interfaces allows your app or site to remain secure all the while easy to use.Since day one we were taught some of the leading innovations and principals used by top companies such as Lean and agile methodologies inside a teal environment.
 </p>
 <p>
  Having spent time working on many great projects such as designing native Ios/Android apps for a children's hospital so that their annual charity event could be more accessible and reach a greater crowd and keep them more engaged with the event and charity hopefully donating more time and money to a wonderful cause, 
  from working on a program that integrates popular AdExchanges performing certain propriety analytics and calculations making the results available in Salesforce in a more user-friendly way so that clients would have an easier time sorting through data and thereby saving more time to deal with customers leading to greater profits.I have worked extensively in serverless tech with a focus on using Amazon Web Services, from creating custom lambdas to launch programs and services to reduce the uptime on a server reducing costs, to storing thousands of leads in RDS database, or storing data in a non Sql dynamoDb meeting whatever customer need arises, and creating our api endpoints to allow access to lambda functions in a more intuitive way. 
  
  One of things I have enjoyed most so far was helping others in their own endeavors to becoming software developers by assisting in instructing subsequent cohorts or lending an ear to a student or colleague in need.
  </p> 
  <br /><br />
 <p>I'm Here for all your consultation needs, from the frontend to the backend and everywhere in between involving many cloud based services to keep production and maintenance cost down for you.
  </p> 
</section>

  </div>
</div>
        
