<div class="container content partially-transparent tclogo">
        
  <section id="about" class="centered">
    <h1>Support</h1>
    <p class="about-whoami">
     Joseph Mckenzie Consulting
    </p>
  </section>

  <div class="row">
    <div class="col-xs-12">
      
      <section id="research" class="centered">
   <p>If you would like to support me and others like me in helping train, mentor or help in another area fell free to support us today by donating with either your personal time to mentor or with a monetary contribution.</p>
       
       <p>
       We are always looking for more mentors to work with the ever-growing population of software developers, Join today to help support and encourage the newest generation of developers or to be connected to someone who can help mentor you.
       </p>
       <p>Donate Today</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      		<input type="hidden" name="cmd" value="_s-xclick" />
      		<input type="hidden" name="hosted_button_id" value="" />
          <input type="submit" class="button" style="font-size: 5vw" value="Donate via Paypal">
      		<!-- <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" width="20%" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
      		<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" /> -->
    	  </form>
      </section>
    </div>
  </div>
</div>
        
        