<div class="container content partially-transparent tclogo">
        
  <section id="about" class="centered">
    <h1>Thank you!</h1>
    <p class="about-whoami">
      Joe's Security Services    </p>
  </section>
  <div class="row">
    <div class="col-xs-12">    
      <section id="research" class="centered">
         Ill fight for your security, as well as to test it.
          Please <a href="contact" target="_blank">contact us </a> if you require any further information. 
      </section>
    </div>
  </div>
</div>      